---
layout: generic
title_localized:
  en: Contact Us | Buena Vista Suites Orlando
meta_description_localized:
  en: 'Buena Vista Suites is looking forward to making your stay in Orlando truly
    special. Please feel free to get in touch via the contact form, or call us directly. '
permalink_localized:
  en: "/contact/"
meta_tags:
  robots: 
published_localized:
  en: true
label: Contact Us

---

  <div class="leaflet-map leaflet-map--contact">
    <div class="leaflet-map__map"
      data-latitude="{{site.data.hotel_settings.latitude}}" 
      data-longitude="{{site.data.hotel_settings.longitude}}"
      data-zoom="12"
      data-custom-icons="true"
      data-custom-main-icon="true"
      data-max-zoom="18"
      data-min-zoom="10"
      data-auto-fit-bounds="false"
      data-tile-style="rastertiles/voyager"
    >
    </div>
    <div class="leaflet-map__locations">
      <!-- location object for the hotel //-->
      <div class="location location--main" data-latitude="{{site.data.hotel_settings.latitude}}" data-longitude="{{site.data.hotel_settings.longitude}}">
        <div class="location-text">
          <div class="location-label">{{site.data.hotel_settings.name}}</div>
          <div class="location-address">{% include components/hotel-address %}</div>        
        </div>
        <div class="location-popup">
          {% assign locationDirectionUrl = site.data.hotel_settings.google_location.google_place.url %}
          <span class="location-popup__name">{{site.data.hotel_settings.name}}</span>
          <div class="location-popup__address">{% include components/hotel-address %}</div>
          <a class="location-popup__directions" href="{{locationDirectionUrl}}">{% t 'attractions.buttons.get_directions' %}</a>
        </div>    
        <div class="location-image">
          <img src="/assets/images/marker.svg">
        </div>
          
      </div>
    </div>
    <div class="leaflet-map__categories">
      <ul>
        <li data-select-category="__ALL__">{% t 'attractions.categories.all' %}</li>
      </ul>
    </div>
    
  </div>

<div class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <form action="https://submit.jotform.us/submit/92596758189177/" class="container" id="92596758189177" name="form_92596758189177" novalidate="">
        	<div aria-live="polite" id="error-summary" class="">
        		<div class="h3">Please complete all required fields:</div>
        		<ul><!-- Error list is populated here --></ul>
        	</div>
        	<input name="formID" type="hidden" value="92596758189177">
        	<div class="row">
        		<div class="col-md-12 form-group">
        			<label class="custom-label" for="input_14">First Name*</label>
        			<input class="form-control custom-input" name="q14_firstName" id="input_14" type="text" placeholder="First name*" required="" aria-required="true" />
        		</div>
        		<div class="col-md-12 form-group">
        			<label class="custom-label" for="input_15">Last Name*</label>
        			<input class="form-control custom-input" name="q15_lastName" id="input_15" type="text" placeholder="Last name*" required="" aria-required="true" />
        		</div>
        		<!--<div class="col-md-12 form-group">
        			<textarea name="address" placeholder="Address*" required="true"></textarea>
        		</div>-->
        		<div class="col-md-12 form-group">
        			<label class="custom-label" for="input_4">Last Name*</label>
        			<input class="form-control custom-input" name="q4_email" id="input_4" type="email" placeholder="Email*" required="" aria-required="true" />
        		</div>
        		<div class="col-12 form-group">
        			<label name="message" class="custom-label" for="input_17">Message</label>
        			<textarea class="form-control" name="q17_message" id="input_17" cols="40" rows="8" placeholder="Message*"></textarea>
        		</div>
        		<div class="col-md-12 form-group">
        			<label class="form-check-label small" for="input_16_0" tabindex="0"><input class="form-check-input" id="input_16_0" name="consentWrapper" required="" type="checkbox" value="agree" aria-required="true" aria-label="I have read an accept the privacy policy. *"> I have read an accept the privacy policy. *</label>
        		</div>
        	</div>
        	<div class="text-center">
        		<input class="btn btn--primary" id="input_2" name="submit2" type="submit" value="Submit">
        	</div>
        </form>
      </div>
      <div class="col-lg-6">
        <h5 class="h5 mb-2">Hotel Info</h5>
        <div class="row">
          <div class="col-xl-6">
            <div class="mb-1">
              <h6>Address</h6>
              <div class="address">
                <a href="{{site.data.hotel_settings.google_location.google_place.url}}"  target="_blank" rel="noopener">
                  <span class="street-address">{{address.street1}},</span>
                  <span class="locality">{{address.city}},</span>
                  <span class="region">{{address.state}}</span>
                  <span class="postal-code">{{address.zip_code}}</span>
                </a>
              </div>
            </div>
            
            <h6>{% t 'footer.contact.direct', editable:true %}</h6>
            
            <p>
              {{ site.data.hotel_settings.phone }}
            </p>
            
            
            <h6>{% t 'footer.contact.reservations', editable:true %}</h6>              
            <p>
              {{ site.data.hotel_settings.reservations_phone }}<br/>
              <a href="mailto:reservations@bvsuites.com">reservations@bvsuites.com</a>
            </p>
            {% regionblock extra-phones %}
              <h6>Administration</h6>
              <p>
                (407) 239-8588
              </p>
            {% endregionblock %} 
          </div>
          <div class="col-xl-6">
            {% regionblock extra-contacts %}
              <h6>Convention Services</h6>
              <p>
                (407) 238-6106
              </p>
              <h6>Sales & Marketing</h6>
              <p>
                (407) 238-6107<br/>
                Fax (407) 239-1401<br/>
                <a href="mailto:reservations@bvsuites.com">reservations@bvsuites.com</a>
              </p>
              <h6>UPS Package Services (Shipping/Receiving)</h6>
              <p>
                (407) 238-8436<br/>
                <a href="mailto:store6855@theupsstore.com">store6855@theupsstore.com</a>                
              </p>
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
