.btn {
  text-transform: uppercase;
  background: $white;
  color: $dark;
  border-color: $dark;
  font-weight: bold;
  letter-spacing: 6.8px;
  position: relative;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: $border-width solid $border-color;
  }
  &:hover {
    background: $primary;
    color: $white;
    &:before {
      display: none;
    }
  }
  &--primary {
    line-height: 1em;
    font-size: 17px;
    border-color: $dark;
  }
}