.btn {
  text-transform: uppercase;
  &--secondary {
    // These are just styled links
    display: inline;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: 500;
    vertical-align: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    color: $primary;
    &:hover {
      font-weight: 500;
      text-decoration: underline;
      background: none;
      color: $primary;
    }
  }
  &--primary {
    font-size: 14px;
    line-height: 1em;
    padding-left: 18px;
    padding-right: 18px;
    min-width: 174px;
    border-color: $dark;
    background: $white;
    color: $dark;
    border-color: $dark;
    font-weight: bold;
    letter-spacing: 2.8px;
    position: relative;
    @include inner-border(3px);
    
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
      &:before {
        display: none;
      }
    }
  }
}

$button-2-height: 46px;
$button-2-border-space: 3px;
$button-2-inner-height: $button-2-height - 2 * $button-2-border-space;
.bg-secondary, .col--dark {
  .btn--primary {
    margin-top: 4px;
    font-size: 16px;
    height: $button-2-inner-height;
    line-height: 16px;
    padding-top: ($button-2-inner-height - 16px) / 2;
    padding-bottom: ($button-2-inner-height - 16px) / 2;
    @include outer-border($button-2-border-space, 1px, $white);
    &:before {
      background: $white;    
    }
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
      &:before {
        display: block;
      }
    }
  }
}
