.col {
  &--border {
    @include inner-border(1rem, 2px, $border-color-light);
    .col-html-content {
      z-index: 1;
      position: relative;
    }    
    padding: 20px 50px !important;
  }
  &--white.text-primary {
    p:not(.h3) {
      color: $base-text-color;
    }
  }
}

.c-2-col {
  &--dark {
    background-color: $secondary;
  }
}
