.hero, .c-hero-slider {
  margin-bottom: 46px;
  height: 70vh;
  max-height: 326px;      
  @include media-breakpoint-up(lg) {
    max-height: 475px;    
  }
  @include media-breakpoint-up(xl) {
    max-height: 650px;    
  }
}

$slider-control-dimension: 40px;

.c-hero-slider {
  .hero {
    margin-bottom: 0;
  }
  .tns-outer {
    position: relative;
    button[data-action=stop], button[data-action=start] {
      position: absolute;
      z-index: 10;
      bottom: $slider-control-dimension / 2;
      left: calc(50% + #{$slider-control-dimension});
      border:0;
      display: block;
      appearance: none;
      height: $slider-control-dimension;
      width: $slider-control-dimension;
      color: rgba(0,0,0,0);
      background: transparent url('/assets/images/icon-pause.svg') no-repeat center center;
    }
    button[data-action=start] {
      background-image: url('/assets/images/icon-play.svg') ;
    }
  }
  .tns-controls {
    background: $primary;
    position: absolute;
    bottom: $slider-control-dimension / 2;
    z-index: 10;
    left: 50%;
    transform: translateX(-$slider-control-dimension);        
    height: $slider-control-dimension;
    width: 3 * $slider-control-dimension;
    padding-right: $slider-control-dimension;
    display: flex;
    button {
      height: $slider-control-dimension;
      width: $slider-control-dimension;
      //position: absolute;
      border:0;
      //top: 0;
      //display: block;
      appearance: none;
      //height: 79px;
      //width: 100px;
      color: rgba(0,0,0,0);
      background: transparent url('/assets/images/icon-arrow-back.svg') no-repeat center center;
      background-size: 25%;

    }
    button[data-controls="next"] {
      background-image: url('/assets/images/icon-arrow-forward.svg');
    }
  }  
}