.navbar {
  z-index: 300;
  &.is-fixed-top {
    z-index: 5000;    
  }
  &--inner {
    width: $max-menu-width;
    flex-wrap: nowrap !important;
    height: $primary-button-height;
  }
  background-color: $white;
  border-bottom: 1px solid #BBB9B9DE;
  .btn--primary {
    font-size: 17px;
    letter-spacing: 6.8px;
    height: $primary-button-height;
    padding: 24px 44px;
    @include inner-border(4px);    
  }
  .nav__item {
    a.nav__link {
      height: 1em;
      line-height: 1em;
    }
    a.nav__link.active {
      color: $primary;
    }
  }
  .subnav {
    padding-top: 14px;
    .nav__item {
      height: 3em;
      padding-top: 1em;
      padding-bottom: 1em;
      background-color: $light;
      &:hover {
        background-color: $light;        
      }
      a.nav__link {
        padding: 0; 
      }
    }
  }
}

.nav--top {
  .nav__item {
    a.nav__link {
      font-size: 14px;
      line-height: 1em;
      height: 22px;
      padding: 4px 0;
      letter-spacing: .7px;
    }
  }
}



// Customize these breakpoints when menu is changed to handle different sizes

.navbar {
  .navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    .nav__logo {
      img {
        width: 330px;
        height: auto;
      }
    }
    
  }
  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav--top {
    height: 22px;
    align-items: flex-end;
  }
  .nav--primary {
    height: 17px;
    margin-top: 29px;
    .nav__item {
      a.nav__link {
        height: 15px;
//        margin-right:0;
//        margin-left: 1rem;
      }
    }
  }

  
  .navbar__burger {
    display: none;
  }
}
  
@media (max-width: $max-menu-width + 10) { 
  // Place the menu last
  .navbar--inner {
    width: $min-menu-width;
  }
  
  .navbar.is-fixed-top {
    .navbar-brand {
      height: auto;
      .nav__logo {
        img {
          width: 280px;
        }
      }
    }
    .menu-container {
      flex-direction: row;      
    }
    .break-column {
      display: none;
    }
    .nav--top, .nav--primary {
      height: auto;
      width: auto;
      flex-grow: 1;
      align-items: center;
    }
    .nav--primary {
      justify-content: flex-end !important;
    }
  }
}

@media (max-width: 1065px) { 
  .navbar {
    display: block;
    &--inner {
      width: 100%;
      flex-wrap: wrap !important;
    }
    &.is-fixed-top {
      height: calc(74px + 2.5rem);
      &+.main {
        padding-top: calc(74px + 2.5rem);
      }
      
      padding: 0;
      .menu-container {
        height: calc(74px);
        justify-content: space-between;
      }
    }
    
    .navabar-brand {
      .nav__logo {
        img {
          width: 190px;
        }
      }
    }
    
    .menu-container {
      width: auto;
    }
    
  
    .nav--device {
      top: 74px;
    }
  
    .booking-button {
      width: 100%;
      .ttweb-booking-widget-button {
        display: block;
        width: 100%;
      }
      .btn--primary {
        width: 100%;
        border: none;
        background: $secondary;
        color: white;
        height: 68px;
        font-size: 1rem;
        line-height: 1rem;
        padding: 24px 44px;
        &:before {
          display: none;
        }
      }
    }
    .nav--primary, .nav--top {
      display: none;
    }
    .nav--primary {
      top: 0;
      bottom: 0;
    }
    .nav--top {
      bottom: 0;
      height: auto;
    }
    
    &.nav--active {
      .menu-container {
        position: fixed;
        padding: 0 !important;
        top: 0; bottom: 0;
        left: 0; right: 0;
        height: auto;
        width: auto;
        z-index: 31;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: scroll;
        background: white;
        .navbar-brand {
          display: none;
        }
        .navbar__burger-wrap {
          order: 0;
        }
        .nav--primary {
          order: 1;
        }
        .nav--top {
          order: 2;
        }
        .nav--primary, .nav--top {
          display: flex;
          flex-grow: 0;
          padding: 0 !important;
          flex-direction: column !important;
          justify-content: flex-start !important;
          width: 100%;
          height: auto;
          .nav__item {
            width: 100%;
            text-align: center;
            .subnav {
              display: block;
              position: relative;
            }
            .nav__link {
              text-align: center;
              width: 100%;
              margin: 0;
              padding: 1em 0 0;
            }
            input#search {
              padding: 3px 6px;
              margin-top: 1em;
            }
          }
        }
        .nav--primary {
          .nav__item {
            .nav__link {
              padding: 1em 0;
              border-bottom: $border-width solid $border-color;
              border-top: $border-width solid $border-color;
              margin-top: -1px;
            }
            &.has-subnav {
              .nav__link {
                border-bottom: 0;                
              }
              .subnav {
                .nav__link {
                  border: 0;                  
                }
              }
            }
            
          }
          
        }
        
      }
    }
    .navbar__burger {
      display: block;
    }
    
    .subnav {
      .nav__item {
      }
    }
    
  }          
}

.nav--footer {
  margin: 1rem 0 34px;
  .nav__item {
    .nav__link {
      margin: 0 1em 0 0;
      font-size: .75rem;
    }    
  }
}