html {
  font-size: 20px; // reset rem
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
  
}

@include standard-headers;


.bg-secondary, .col--dark {
  h1, .h2, h3, .h3, h5, .h5, h6, .h6 {
    color: white;
  }
}



sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}