<div id="modal-ad" class="modal-pop-up">
  <div class="modal-pop-up__wrap">
    <div class="modal-pop-up__bg" data-modal-action="dismiss"></div>
    <div class="modal-pop-up__content" tabindex="-1">
      <div class="modal-pop-up__close" data-modal-action="dismiss">X</div>
      <p class="title">Book Direct &amp; Save 25%*</p>
      <p>Book directly with us and enjoy 25% off the best rate available.</p>
      <p><a class="btn btn--primary" href="https://{{site.data.crs_settings._portal_id}}.reztrip.com">{% t 'buttons.book' %}</a></p>
      <p class="text-small">* Terms &amp; Conditions Apply</p>
    </div>
  </div>
</div>