<div id="modal-ad" class="modal-pop-up" role="dialog" aria-labelledby="modal-ad-title" aria-describedby="modal-ad-details">
  <div class="modal-pop-up__wrap">
    <div class="modal-pop-up__bg"></div>
    <div class="modal-pop-up__content">
      <div class="modal-pop-up__close" data-modal-action="dismiss" tabindex="0" role="button" aria-label="close popup">X</div>
      <p id="modal-ad-title" class="title" tabindex="0">Book Direct &amp; Save 25%*</p>
      <p id="modal-ad-details" tabindex="0">Book directly with us and enjoy 25% off the best rate available.</p>
      <p><a class="btn btn--primary" tabindex="0" href="https://{{site.data.crs_settings._portal_id}}.reztrip.com">{% t 'buttons.book' %}</a></p>
      <p class="text-small" tabindex="0">* Terms &amp; Conditions Apply</p>
    </div>
  </div>
</div>