// Dining Page Elements
// ==========================================================================
// Rooms & Room Details Page Elements
// ==========================================================================
.dining-list {
  width: 100%;
  max-width: none;
  .dining-wrap {
    @include overflow-image-item("dining");
  }
//  .dining__text-group {
//    padding-top: 2rem;
//    padding-bottom: 2rem;
//  }
  .dining__image-group {
    .dining__image {
      @include overflow-carousel;
    }
  }
  .dining {
    .dining-inner  {
      @include make-container();
      display: flex;
      flex-wrap: wrap;
      max-width: $max-image-bleed-row-width;      
    }


    &__hours {
      margin: 1rem 0;
    }
    &__hours-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    &__menus {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      .btn {
        margin: .5rem 1rem .5rem 0;
      }
    }
    
  }
}