.home-features {
  padding-top: 90px;
  padding-bottom: 25px;
  .image-content {
    height: 300px;
  }
  p {
    font-size: 18px;
  }
  
  @include standard-headers;
  .col-md-6 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


.skip-flip:focus {
    top: auto;
    left: auto;
    z-index: 99999;
    width: 30%;
    height: auto;
    margin: 10px 35%;
    padding: 5px;
    overflow: auto;
    font-size: 1.2em;
    color: 
#fff;
text-align: center;
background-color:
#000;
border: 4px solid
    #ffff00;
    border-radius: 15px;
}


[data-whatintent="mouse"] *:focus {
    outline: none;
}



.skip-flip {
    position: absolute;
    top: auto;
    left: -999px;
    z-index: -999;
    width: 1px;
    height: 1px;
    overflow: hide;
}