// Location Page Elements
// ==========================================================================
.leaflet-map {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  &__categories {
    order: 0;
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0; padding: 0;
      list-style: none;
      justify-content: center;
      flex-wrap: wrap;
      li {
        display: block;
        @extend .h6;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 28px;
        letter-spacing: 1px;
        padding: 0 .5rem;
        text-align: center;
        color: $base-text-color;
        &.active {
          color: $primary;
        }
        
      }      
    }
  }
  &__map {
    order: 1;
    width: 70%;
    height: $map-height-min;
    background: $light;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 60vh;
    }
  }
  &--contact {
    .leaflet-map__map {
      width: 100%;
    }
  }
  &__locations {
    order: 2;
    width: 30%;
    height: $map-height-min;
    overflow-y: scroll;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 30vh;
      display: flex;
      flex-wrap: wrap;
      .location {
        width: 50%;
      }
    }

    padding: 1rem;
    .location {
      padding: .25em;
      cursor: pointer;
      .location-categories {
        display: none;
      }
      .location-address {
        font-size: .75rem;
      }
      &--selected {
        background: $primary;
        color: $white;
        .location-label {
          font-weight: bold;
        }
      }
    }
  }


}