// Rooms & Room Details Page Elements
// ==========================================================================
.room-list {
  margin-bottom: 76px;
  .room__text-group {
  }
  .room__description {
    display: none;
  }
  .room__featured-image {
    display: none;
  }
  
  .room__text-wrap,   .room__image-wrap {
    padding-top: 100%;
    position: relative;
    width: 100%;
  }
  .room__image-group {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
    
    .room__images {
      &.ttweb-room-image-list {
        picture {
          img {
            width: 100%;
            height: 100%;
            object-fit: "contain";
            font-family: "object-fit";
          }
        }
      }
      
      position: absolute; 
      top: -$image-bleed; 
      left: -$image-bleed; 
      bottom: -$image-bleed; 
      right: -$image-bleed; 
      height: auto;
      
//      @include media-breakpoint-up(md) {
//        height: calc(100% + 2 * #{$image-bleed});
//        width: calc(100% + 2 * #{$image-bleed});
//        margin-top: - $image-bleed;
//        margin-bottom: - $image-bleed;
//      }
      @include overflow-carousel();
      
    }
  }

  .room__columns {
    background: $light;
    margin: 4rem 0;
    width: 100%;
  }
  .room {
    .container {
      max-width: $max-image-bleed-row-width;      
    }
    .room__image-group {
      order: 0;
    }
    .room__text-group {
      order: 1;
    }      
    .room__text {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      padding: 1rem 0px 1rem 80px;
    }
    &:nth-child(even) {
      .room__text {
        padding: 1rem 80px 1rem 0px;
      }
    }
    @include media-breakpoint-up(md) {
      &:nth-child(even) {
        .room__image-group {
          order: 1;
        }
        .room__text-group {
          order: 0;
        }      
      }
    }    
  }
  .room__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .room__size, .room__bed-arrangement, .room__wifi {
      font-weight: bold;
      color: $primary;
      font-size: 18px;
      height: auto;
      padding: .5em 0 .5em 3rem;
      margin: .5rem;
      min-height: 2em;
      line-height: 1em;
      background: url("/assets/images/bed-icon.svg") left center no-repeat;
      background-size: 2rem auto;
      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
    .room__size {
      background-image: url("/assets/images/ruller-icon.svg");
    }    
    .room__wifi {
      background-image: url("/assets/images/wifi-icon.svg");
    }
  }
  .room__amenities {
    ul {
      margin-top: 1rem;
      display: inline-block;
      li {
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        margin-right: 1rem;      
        display: inline-block;
        &:after {
          margin-left: 1rem;
          content: "|";
          display: inline-block;
        };
        &:last-child {
          &:after {
            display: none;
          }
          border-right: none;
        }
      }
    }
  }
}