// Rooms & Room Details Page Elements
// ==========================================================================
.room-list {
  margin-bottom: 76px;
  .room__text-group {
  }
  .room__description {
    display: none;
  }
  .room__featured-image {
    display: none;
  }
  
  .room__image-group {    
    .room__image {
      @include overflow-carousel();
      
    }
  }

  .room__columns {
    @include overflow-image-item("room");
  }
  .room {
    
    .room-inner {
      @include make-container();
      max-width: $max-image-bleed-row-width;      
    }
    
    .room-inner {
      display: flex;
    }
    
    .ttweb-room {
      height: 100%;
    }
  }
  .room__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .room__size, .room__bed-arrangement, .room__wifi {
      font-weight: bold;
      color: $primary;
      font-size: 18px;
      height: auto;
      padding: .5em 0 .5em 3rem;
      margin: .5rem;
      min-height: 2em;
      line-height: 1em;
      background: url("/assets/images/bed-icon.svg") left center no-repeat;
      background-size: 2rem auto;
      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
    .room__size {
      background-image: url("/assets/images/ruller-icon.svg");
    }    
    .room__wifi {
      background-image: url("/assets/images/wifi-icon.svg");
    }
  }
  .room__amenities {
    .amenity-list-wrap {
      overflow: hidden;
      position: relative;
      ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -1px;
        li {
          flex-grow: 2;
          flex-basis: auto;
          margin: 7px 0 15px;
          padding: 0 1rem;
          text-align: center;
          background: #fff;
          border-left: 1px solid $base-text-color;
          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
          display: inline-block;

        }
      }
    }
  }
}