// Shared Page Elements
// ==========================================================================

form {
  input[type="text"], input[type="email"] {
    width: 100%;
    display: block;
  }
  textarea {
    width: 100%;
  }
  input, textarea {
    @extend .p-2;
    @extend .mb-2;
    font-size: 100%;
    border: $border-width solid $border-color;
    appearance: none;
    
  }
  label.checkbox-label {
    font-size: 80%;
    display: block;
    vertical-align: bottom;
  }
  input[type="submit"], button {
    display: block;
  }
  &.search-form {
    margin: 0px .5rem 0px 18px;
    vertical-align: top;
    display: inline;
    height: 22px;
    position: relative;
    input[type="text"] {
      vertical-align: top;
      padding: 3px 6px !important;
      margin: 0 !important;
      text-transform: uppercase;
      font-size: 12px;
      color: $gray-900;
      letter-spacing: .6px;
      display: inline;
      width: 177px;
      height: 22px;
    }
    #search-icon {
      position: relative;
      display: block;
      right: 3px;
      top: 3px;
      width: 17px;
      font-weight: normal;
      font-size: 14px;
      position: absolute;
      color: $dark;
      height: 17px;
    }
  }
}


.back-link p {
  font-size: 80%;
  margin: 1rem 0;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
}


footer {
  font-size: 16px;
  padding-bottom: 35px;
  .footer-cross-sell {
    padding: 50px;
    .h5, .h6 {
      margin: 0;
    }
    .h5 {
      margin-bottom: 22px;
    }
  }
  .social-links {
    a {
      margin: 0 1rem;
      img {
        height: 45px;
      }
    }
  }
  strong {
    text-transform: uppercase;
  }
  .small-spaced {
    font-size: 14px;
    line-height: 24px;
  }
  .copyright {
    font-size: 12px;
    margin-top: 12px;
  }
  .logo-badges {
    text-align: right;
    img {
      margin-left: 21px;
    }
    img.green-lodging {
      height: 99px;
    }
    img.disney-hotel-neighbor {
      height: 83px;
    }
  }
}

.offer, .room {
  &__rate {
    display: flex;      
  }
  .ttweb-cross-out-rate, .ttweb-loading-rates {
    margin-right: 6px;
    &__crossout {
      margin:0 6px 0 0;
    }
    &__actual {
      font-size: inherit;
      line-height: inherit;
      margin: 0;
    }
  }
  .ttweb-cross-out-rate-error {
    font-size: .75rem;
    font-style: italic;
    &__change-dates {
      display: block;
      font-style: normal;
    }
  }
}

.cc-banner {
  background: $primary !important;
  color: white !important;
  text-align: center;
  display: flex;
  justify-content: center;
  a, a:hover, a:visited {
    color: white;
    a:hover {
      text-decoration: underline;
    }
  }
}